<!-- -->
<section style="position:relative; top: -80px;">
<img src="/images/katty-in-ipad.png" style="position:relative; top:65px; left: 80px;" width="251">
<h1>About Me</h1>
<p>I have been teaching Spanish and Portuguese face-to-face to business, travellers and college students and I think that many of my students prefer online learning as it is very practical and a real time saver. 
</p><p>
If you want to complement using the books with learning from a teacher, contact me for more
information.
</p>
<form METHOD="get" ACTION="mailto:contact+portuguese@freshtranslation.com" ENCTYPE="multipart/form-data"> 
<input type="hidden" class="mail-encode" name="subject" value="Learning Portuguese">
<textarea class="mail-encode" style="display:none;" name="body" hidden=hidden></textarea>
<button class="big">Question about portuguese</button>
</form>
</section>